[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment=A Matrix client for Vim addicts
Exec=cyrum
GenericName=Matrix Client
Keywords=Matrix;matrix.org;chat;communications;talk;
Name=cyrum
Icon=cyrum
StartupNotify=false
Terminal=true
TryExec=cyrum
Type=Application
